<html>
	<head>
		{% if title %}
		<title> {{ title }} - tv shows db </title>
		{% else %}
		<title> Welcome to tv shows db </title>
		{% endif %}
	</head>
	<body>
		<div> <h1> tv shows db; </h1>  <br>
			<a href="{{ url_for('index') }}">Homepage</a>
			{% if current_user.is_anonymous %}
			<a href="{{ url_for('login') }}">Login</a>
			{% else %}
			<a href="{{ url_for('logout') }}">Logout</a>
			{% endif %}
		</div>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
				<li> {{message}} </li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	 	{% block content %} {% endblock %}
	</body>
</html>