{% extends "base.html" %}

{% block content %}
	<h3> Authorization Gate</h3>
	<form action = "" method= "post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.username.label }} <br>
			{{ form.username(size=32) }}
		</p>
		<p>
			{{ form.password.label }} <br>
			{{ form.password(size = 32) }}	
		</p>
		<p> {{ form.remember_me()}} {{ form.remember_me.label }}</p>
		<p> {{ form.submit()}} </p>
	</form> 
	<p>  <a href= "{{ url_for('signup') }}"> Create an account</a> </p>
	<p>  <a href= "{{ url_for('reset') }}"> Forgot your password?</a> </p>
{% endblock %}